/*Container geral*/
.chat{
  display:flex;
  gap: 20px;
}

/*Mensagem do chat*/
.chat__message {
  font-family: "Montserrat", sans-serif;
  font-size:24px;
  color: black;
  -webkit-text-stroke: 0;
  line-height: 1.4;
  display: block;
}

/*Chat background*/
.chat__item {
  display: flex;
  align-items: center;
  background: white;
  border: 3px solid red;
  border-radius: 0px 50px 50px 50px;
  padding: 28px 160px 20px 50px;
  margin-bottom: 50px;
  position: relative;
}

/* logo ratox */
.chat__item-inner::before {
  display: flex;
  gap: 20px;
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 160px;
  height: 260px;
  margin: 1px;
  background-image: url('https://i.imgur.com/03lx514.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-1deg) translate(5%, -5%);
  z-index: 2;
  
}

/*logo rosto*/
.chat__item-inner::after {
  display: flex;
  content:"";
  position: absolute;
  top: 50%;
  right: 0;
  width: 250px;
  height: 330px;
  background-image: url('https://i.imgur.com/ga9QUaX.png'); /* logo avatar */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
  transform: rotate(2deg) translate(18%, -40%);

}

/*Usuário nome*/
.chat__user {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  -webkit-text-stroke: 1;
  color: black !important;
}

/*Usuário background*/
.chat__metadata {
  display: flex;
  justify-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(6%, -60%);
  border-radius: 15px;
  padding: 5px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  background-color: #e8765e;
  border: 2px solid #4f150e;
  border-radius: 10px;
  z-index: 1;
}